

.auth-container {
  width: 100%;
  max-width: 512px;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: white;
  margin-top: 60px;
  padding: 48px 40px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.04);

  h2 {
    margin-top: 0;
    margin-bottom: 16px;
  }

  .question {
    font-size: 14px;
    margin-bottom: 24px;
  }
}

.login {
  color: $electric-blue;
  text-decoration: none;
  font-size: 16px;
}

.sign-up {
  color: $electric-blue;
  text-decoration: none;
  font-size: 16px;
}

.password-fieldset {
  input {
    padding-right: 100px;
  }
}

.question {
  color: $dark-grey-1;
  margin: -13px 0 30px 0;
}

.input-group-password {
  position: absolute;
}