/* * * * * * * *
 * Scale Sizes *
 * * * * * * * */

$breakpoint-big-tablet: 1218px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 425px;
$breakpoint-small-mobile: 350px;
$scale-tablet: 0.8;
$scale-mobile: 0.4;
$scale-dashboard-big-tablet: 0.5;
$scale-dashboard-tablet: 0.33333333333;
$scale-dashboard-mobile: 0.25;
$scale-width-tablet: 125vw;
$scale-width-mobile: 250vw;
$scale-width-dashboard-big-tablet: 200vw;
$scale-width-dashboard-tablet: 300vw;
$scale-width-dashboard-mobile: 400vw;
