$clr-burgundy: #2c0030;
$clr-app-background: #f5f5f7;

// primary colors
$clr-primary-blue: #2c5ef6;
$clr-primary-navy: #394873;
$clr-primary-violet: #bd69ff;
$clr-primary-orange: #ffae73;
$clr-primary-light-blue: #dfe7fe;
$clr-primary-disabled: #d1d1d1;

// typography colors
$clr-typo-titles: #171717;
$clr-typo-titles__h2: #333333;
$clr-typo-description: #505050;
$clr-typo-hints: #dadae2;

//notification colors
$clr-notify-success: #1fd151;
$clr-notify-alert: #e84141;
$clr-notify-warning: #f39958;

// general ui colors
$white: #ffffff;
$black: #000000;

$color-0: #eeeef2;
$color-1: #e7ecef;
$color-2: #dcdce2;
$color-3: #c5c5cf;
$color-4: #e7ebef;
$color-5: #eff3fe;
$color-6: #eaeaed;

$grey-1: #f6f6f6;
$grey-2: #d6d6d6;
$grey-3: #c8c8c8;
$grey-5: #a8a8a8;
$grey-6: #9b9b9b;
$grey-7: #8c8c8c;
$grey-8: #eaeaec;
$grey-9: #c6c6c6;
$grey-10: #ececec;
$grey-11: #fcfcfc;
$grey-12: #c4c4c4;
$grey-13: #ededed;
$grey-14: #e6e6e6;
$grey-15: #d7d7d7;
$grey-16: #ebebeb;
$grey-17: #e5e5e5;

$light-grey-1: #f4f4f4;
$light-grey-2: #cecece;
$dark-grey-8: #f9f9fc;
$dark-grey-7: #f5f5f7;
$dark-grey-6: #979797;
$dark-grey-5: #6c6c6c;
$dark-grey-4: #171717;
$dark-grey-3: #333333;
$dark-grey-2: #505050;
$dark-grey-1: #666666;

$electric-blue: #2c5ef6;
$blue-light: #e6ecfe;
$light-blue: #dfe7fe;
$light-blue2: #95aefa;
$dark-blue: #394873;
$purple: #bd69ff;
$orange: #ffae73;
$green: #0ddf48;
$green-2: #02c038;
$pink: #ec5586;
$turquoise: #56eef4;

/* Notifications */
$success: #1fd151;
$error: #e84141;
$warning: #f39958;

$placeholder: rgba(0, 0, 0, 0.3);
