$shadow-0: 0 4px 6px rgba(0, 0, 0, 0.04);
$shadow-1: 0px 6px 32px rgba(0, 0, 0, 0.3);
$shadow-2: 0px 0px 6px rgba(44, 94, 246, 0.2);
$shadow-3: 0px 8px 20px rgba(0, 0, 0, 0.15);
$shadow-4: 0px 4px 16px rgba(0, 0, 0, 0.08);
